
.logo{
    display: flex;
    justify-content: center;
}

.image{
    width: 20%;    
}

h1{
    display: flex;
    justify-content: center;
}

h2{
    display: flex;
    justify-content: center;
}

form{
    display: grid;
    place-content: center;    

}

fieldset{
    display: flex;
    justify-content: center;
    backdrop-filter: blur(15px);
    border-radius: 20px;
    width: 420px;
    padding: 30px 40px;
    color: white;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    background: #4da6ff;
    width: 160px;
    box-shadow: 0 0 10px;
    transition-duration: 0.2s;
}

button:hover{
    box-shadow: 0 0 20px;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

@media only screen and (max-width: 414px){
    .logo{
        display: flex;
        justify-content: center;
    }
    
    .image{
        width: 20%;    
    }
    
    h1{
        display: flex;
        justify-content: center;
    }
    
    h2{
        display: flex;
        justify-content: center;
    }
    
    form{
        display: flex;
        justify-content: center;
    
    }
    
    fieldset{
        display: flex;
        justify-content: center;
        backdrop-filter: blur(15px);
        border-radius: 20px;
        width: 300px;
        padding: 30px 40px;
        color: white;
    }
    
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 40px;
        border-radius: 20px;
        border: none;
        outline: none;
        cursor: pointer;
        position: relative;
        z-index: 0;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        background: #4da6ff;
        width: 160px;
        box-shadow: 0 0 10px;
        transition-duration: 0.2;
    }
    
    button:hover{
        box-shadow: 0 0 20px;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}